<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.camlittle.safari.cmd-shift-t</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.0</string>
			<key>CFBundleVersion</key>
			<string>1.0.0</string>
			<key>Developer Identifier</key>
			<string>6D9DLTQJSN</string>
			<key>URL</key>
			<string>http://camlittle.com/files/cmd-shift-t_1.0.0.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
