<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Cameron Little</string>
	<key>Builder Version</key>
	<string>11601.4.4</string>
	<key>CFBundleDisplayName</key>
	<string>cmd-shift-t</string>
	<key>CFBundleIdentifier</key>
	<string>com.camlittle.safari.cmd-shift-t</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.2</string>
	<key>CFBundleVersion</key>
	<string>0.0.2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>10485760</integer>
		<key>Global Page</key>
		<string>index.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>buttonClick</string>
				<key>Identifier</key>
				<string>reopenLastTab</string>
				<key>Image</key>
				<string>toolbarIcon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Reopen Last Tab</string>
				<key>Palette Label</key>
				<string>Reopen Last Tab</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Tab Close History</string>
	<key>DeveloperIdentifier</key>
	<string>6D9DLTQJSN</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/apexskier/cmd-shift-t-safari</string>
</dict>
</plist>
